.investor-summery{
    padding: 5px;
    color: wheat;
    font-size: 20px;
    background: linear-gradient(to right, #114357, #f29492);
}
.investor-summery img{
    width: 45px;   
}
.displayExtra{
    font-size: 40px;
    border: 1px solid rgb(196, 174, 218);
}