.nav{
    background: url(./../../navbg.jpg);
    background-size: 100%;
    padding: 10px;
    color: rgb(253, 247, 238);
}
.h1{
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background: url(./../../h1bg.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 10000px 0;
    }
}